<%- include('header'); -%>

<!-- Hot cars  -->

<div class="my-3 my-md-5">
    <div class="container">
    <div class="page-header">
        <h1 class="page-title">
        Hot Cars
        </h1>
    </div>
    <div class="row row-cards">
        <div class="col-lg-4">
        <div class="row">
            <div class="col-md-6 col-lg-12">
            <div class="card">
                <div class="card-body">
                <div class="mb-4 text-right">
                    <img src="/img/product1.jpg" alt="" class="img-fluid">
                    <span class="tag tag-rounded tag-gray">Refurbished</span>
                </div>
                <h4 class="card-title"><a href="javascript:void(0)">Toyota</a></h4>
                <div class="card-subtitle">
                    Tundra
                </div>
                <div class="mt-5 d-flex align-items-center">
                    <div class="product-price">
                    <strong>GhC 950,000</strong>
                    </div>
                    <div class="ml-auto">
                    <a href="javascript:void(0)" class="btn btn-primary"><i class="fe fe-shopping-cart"></i> Buy car</a>
                    </div>
                </div>
                </div>
            </div>
            </div>
            <div class="col-md-6 col-lg-12">
                <div class="card">
                <div class="card-body">
                    <div class="mb-4 text-right">
                    <img src="/img/product2.jpg" alt="" class="img-fluid">
                    <span class="tag tag-rounded tag-orange">Discounted</span>
                    </div>
                    <h4 class="card-title"><a href="javascript:void(0)">Mercedez Benz</a></h4>
                    <div class="card-subtitle">
                    G-Wagon
                    </div>
                    <div class="mt-5 d-flex align-items-center">
                    <div class="product-price">
                        <strong>GhC 805,000</strong>
                    </div>
                    <div class="ml-auto">
                        <a href="javascript:void(0)" class="btn btn-primary"><i class="fe fe-shopping-cart"></i> Buy car</a>
                    </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
        </div>
        <div class="col-lg-8">
        <div class="card">
            <table class="table card-table table-vcenter">
            <% cars.forEach((car)=>{ %>
            <tr>
                <td><img src="/img/<%= car.details.pictures[0] %>" alt="" class=""></td>
                <td>
                    <%= car.details.manufacturer.toUpperCase() %>
                </td>
                 <td class="text-right text-muted d-none d-md-table-cell text-nowrap"><%= car.details.model.toUpperCase() %></td>
                <td class="text-right text-bold d-none d-md-table-cell text-nowrap">GhC <%= car.details.price %></td>
                <td class="text-right">
                <button onclick="window.location.href = '/buyer/order/make/';" class="btn btn-dark"><i class="fe fe-shopping-cart"></i>Buy car</button>
                </td>
            </tr>
            <% }); %>
            <tr>
                <td><img src="/img/product2.jpg" alt="" class=""></td>
                <td>
                    Mercedez Benz
                </td>
                <td class="text-right text-muted d-none d-md-table-cell text-nowrap">G-Wagon</td>
                <td class="text-right text-bold d-none d-md-table-cell text-nowrap">GhC 850000</td>
                <td class="text-right">
                    <button onclick="window.location.href = '/buy';" class="btn btn-dark"><i class="fe fe-shopping-cart"></i>Buy car</button>
                </td>
                </tr>
                <tr>
                    <td><img src="/img/product1.jpg" alt="" class=""></td>
                    <td>
                    Toyota
                    </td>
                    <td class="text-right text-muted d-none d-md-table-cell text-nowrap">Tundra</td>
                    <td class="text-right text-bold d-none d-md-table-cell text-nowrap">Ghc 1000000</td>
                    <td class="text-right">
                    <button onclick="window.location.href = '/buy';" class="btn btn-dark"><i class="fe fe-shopping-cart"></i>Buy car</button>
                    </td>
                </tr>
            </table>
        </div>
        </div>
    </div>
    </div>
</div>
</div>

<%- include('footer'); -%>